<i>{{ timestamp.strftime(config.timestamp_format) }}</i>
<b><u>Global Macro</u></b>
{{ divider_line }}

<b>Dollar</b>
DXY:  {{ dxy_price }}  ({{ dxy_change }})

{{ divider_line }}

<b>Rates</b>
Fed Funds:  {{ fed_funds_rate }}
US 5Y:  {{ us_5y_yield }}  ({{ us_5y_change }})
US 10Y:  {{ us_10y_yield }}  ({{ us_10y_change }})
US 30Y:  {{ us_30y_yield }}  ({{ us_30y_change }})
╰➤ 5s10s spread: {{ spread_5s10s }}{% if curve_status == 'inverted' %}  ⚠️ inverted{% endif %}

{{ divider_line }}

<b>Equities</b>
S&amp;P 500:  {{ sp500_price }}  ({{ sp500_change }})
NASDAQ:  {{ nasdaq_price }}  ({{ nasdaq_change }})
VIX:  {{ vix_price }}  ({{ vix_change }})

{{ divider_line }}

<b>Commodities</b>
Gold:  ${{ gold_price }}  ({{ gold_change }})
Oil (WTI):  ${{ oil_price }}  ({{ oil_change }})
Copper:  ${{ copper_price }}  ({{ copper_change }})

{{ divider_line }}

<b>FX</b>
USD/JPY:  {{ usdjpy_price }}  ({{ usdjpy_change }})
EUR/USD:  {{ eurusd_price }}  ({{ eurusd_change }})

{{ divider_line }}
